
<div class="container main-container headerOffset">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="title-big text-center section-title-style2">
            <span>
              About Us
            </span>
                    </h1>
                    <p class="lead text-center">
                        This site was built using AngularJS, AngularUI, BOOTstrap, SASS and a bit of JQUERY. It is a demo but a production
                        version is on the way. In the meantime, you can check out more at <a href="http://jakelee.io" target="_blank">jakelee.io</a>
                    </p>



                    <hr class="hr hr30">
                    <div class="row animated">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" src="images/about/about2.jpg" alt="img">

                            <h3 class="block-title-3">
                                About Me
                            </h3>

                            <p>
                                My wife, Grace, and I just moved to Seattle from South Korea.
                                I have a firm grasp of both the MEAN stack and .NET stack.
                                I am currently looking for a job as a web developer and honing my craft.
                                You can find me at <a href="http://jakelee.io" target="_blank">jakelee.io</a>
                            </p>


                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" src="images/about/about3.jpg" alt="img">

                            <h3 class="block-title-3">
                                About Grace
                            </h3>

                            <p>
                                My wife Grace has received certificates in Preserved Flower arrangement, candlemaking and leatherwork
                                from South Korea. Every product on this site was handmade and handcrafted by her.
                                She has over 50 items in inventory which are soon to come on this site.
                            </p>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" src="images/about/about1.jpg" alt="img">

                            <h3 class="block-title-3">
                                About Preserved Flowers
                            </h3>

                            <p>
                                The preserved flowers in these arrangements were created by the Japanese company Oasis and artfully arranged by Seattle Grace.
                                They are non-toxic and safe. If cared for properly, each flower can last upwards of 5 years.
                            </p>

                        </div>



                    </div>
                    <!--/.row-->

                    <hr>
                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->


<div class="gap"></div>