<div class="container main-container headerOffset">
    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="row userInfo">

                <div class="col-xs-12 col-sm-12">

                    <h1 class="title-big text-center section-title-style2">
                        <span> Contact us </span>
                    </h1>

                    <p class="lead text-center">
                        If you saw something you liked on our site and don't want to wait for the production version to
                        order our products, you can contact us directly by phone or email.
                    </p>

                    <hr>

                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                            <h3 class="block-title-5">
                                Customer care
                            </h3>

                            <p>

                                <br>
                                <strong>
                                    Phone number
                                </strong>
                                : (206) 475-5481
                                <br>
                                <strong>
                                    Email us
                                </strong>
                                : jake481lee@gmail.com
                            </p>


                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                            <h3 class="block-title-5">
                                Feedback
                            </h3>

                            <p>

                                <br>
                                <strong>
                                    Phone number
                                </strong>
                                : (206) 475-5481
                                <br>
                                <strong>
                                    Email us
                                </strong>
                                : jake481lee@gmail.com
                            </p>


                        </div>

                        <div style="clear:both"></div>
                        <hr>
                        <div style="clear:both"></div>



                        <div class="w100 map">
                            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0"
                                    marginwidth="0"
                                    src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=bothell&amp;ie=UTF8&amp;hq=&amp;hnear=Bothell,+WA&amp;ll=47.7623200,-122.2054030&amp;spn=0.007264,0.021136&amp;t=m&amp;z=14&amp;output=embed">
                            </iframe>
                            <br/>
                            <small>
                                <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=+&amp;q=Bothell&amp;ie=UTF8&amp;hq=&amp;hnear=Bothell,+WA&amp;ll=47.7623200,-122.2054030&amp;spn=0.007264,0.021136&amp;t=m&amp;z=14"
                                   style="color:#0000FF;text-align:left">
                                    View Larger Map
                                </a>
                            </small>

                        </div>

                    </div>
                    <!--/.row-->
                </div>


            </div>
            <!--/.row  ||  -->

        </div>
    </div>
    <!--/row || innerPage end-->
    <div style="clear:both"></div>
</div>
<!-- ./main-container -->
<div class="gap"></div>