<div class="container main-container headerOffset globalPaddingBottom">

    <!-- Main component call to action -->
    <div class="row">
        <div class=" image-show-case-wrapper center-block relative col-lg-12">
            <div id="imageShowCase" class="owl-carousel owl-theme">
                <div class="product-slide">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner ">
                                    <h1>Preserved Flowers?</h1>
                                    <a href="#about" class="btn btn-stroke-light"> LEARN MORE</a></div>
                            </div>
                        </div>
                    </div>
                    <a href="#about"><img class="img-responsive" src="images/slider/single-img/carol1.jpg" alt="img"></a></div>
                <!-- /.product-slide  -->

                <div class="product-slide">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner ">
                                    <h1>All Natural and Handmade</h1>
                                    <a href="#about" class="btn btn-stroke-light"> SEE HOW</a></div>
                            </div>
                        </div>
                    </div>
                    <a href="#about"><img class="img-responsive" src="images/slider/single-img/carol2.jpg" alt="img"></a></div>
                <!-- /.product-slide  -->

                <div class="product-slide">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner ">
                                    <h1>Customized and Made to Order</h1>
                                    <a href="#productList" class="btn btn-stroke-light"> ORDER NOW</a></div>
                            </div>
                        </div>
                    </div>
                    <a href="#productList"><img class="img-responsive" src="images/slider/single-img/carol3.jpg" alt="img"></a></div>
                <!-- /.product-slide  -->
            </div>
            <!--/#imageShowCase -->

            <div style="clear:both;"></div>
            <a id="ps-next" class="ps-nav"> <img src="images/site/arrow-right.png" alt="N E X T"> </a> <a id="ps-prev"
                                                                                                          class="ps-nav">
            <img src="images/site/arrow-left.png" alt="P R E V"></a></div>
        <!--/.image-show-case-wrapper -->
    </div>

    <div style="clear:both"></div>
    <div class="row">
        <div class="col-lg-12">
            <hr class="hr3">
        </div>
    </div>

    <div class="row featuredPostContainer ">
        <div class="featuredImageLook3">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
                <div class="inner">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner dark">
                                    <h1 class="uppercase">Florals</h1>

                                    <p>Due to the unique process of preserving flowers, all of our floral arrangements will last for years to come and are handcrafted by seattle Grace.</p>
                                    <hr class="submini">
                                    <a href="#productList" class="btn btn-inverse"> SHOP NOW</a></div>
                            </div>
                        </div>
                    </div>
                    <!--/.box-content-overly -->
                    <div class="img-title">Florals</div>
                    <a class="img-block" href="#"> <img class="img-responsive" src="images/look3/w1.jpg" alt="img"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
                <div class="inner">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner dark">
                                    <h1 class="uppercase"> Candles</h1>

                                    <p>Only the best all-natural essential oils and products go into our handmade candles.</p>
                                    <hr class="submini">
                                    <a href="#productList" class="btn btn-inverse"> SEE MORE</a></div>
                            </div>
                        </div>
                    </div>
                    <!--/.box-content-overly -->
                    <div class="img-title"> Candles</div>
                    <a class="img-block" href="#"> <img class="img-responsive" src="images/look3/cnd1.jpg" alt="img"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
                <div class="inner">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner dark">
                                    <h1 class="uppercase">Leather Goods</h1>

                                    <p>Our leather goods can be custom ordered with choice of leather and stitching.</p>
                                    <hr class="submini">
                                    <a href="#productList" class="btn btn-inverse"> FIND MORE</a></div>
                            </div>
                        </div>
                    </div>
                    <!--/.box-content-overly -->
                    <div class="img-title"> Leather Goods</div>
                    <a class="img-block" href="#"> <img class="img-responsive" src="images/look3/lt1.jpg" alt="img"></a>
                </div>
            </div>
        </div>
        <!--/.featuredImageLook3-->
    </div>
    <!--/.featuredPostContainer-->
</div>
<!-- /main container -->


<!-- /main container featured items-->


<div class="parallax-section parallax-image-2">
    <div class="w100 parallax-section-overley">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix">
                        <h1 class="xlarge"> Trusted Seller 500+ </h1>
                        <h5 class="parallaxSubtitle"> Google Trusted Store</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.parallax-section-->


<script src="assets/js/script.js"></script>
