<div class="container main-container headerOffset">
    <!-- Main component call to action -->

    <div class="row">
        <!--right column-->
            <div class="clearfix category-top">
                <a ng-click="vm.filterSelect = ''"><h3 class="boxes-title-1"><span>Full Product Line</span></h3></a>
            </div>

            <!--/.category-top-->

            <div class="row subCategoryList clearfix">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                    <div class="thumbnail equalheight"><a class="subCategoryThumb" ng-click="vm.filterSelect = 'centerpieces'">
                        <img src="images/category/centerpiece.jpg" class="img-rounded " alt="img"> </a>
                            <a class="subCategoryTitle"><span>Centerpieces</span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center">
                    <div class="thumbnail equalheight"><a class="subCategoryThumb" ng-click="vm.filterSelect = 'framed'"><img
                            src="images/category/framed.jpg" class="img-rounded " alt="img"> </a> <a
                            class="subCategoryTitle"><span> Framed </span></a></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center">
                    <div class="thumbnail equalheight"><a class="subCategoryThumb" ng-click="vm.filterSelect = 'wreaths'"><img
                            src="images/category/wreath.jpg" class="img-rounded " alt="img"> </a>
                            <a class="subCategoryTitle"><span>Wreaths</span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center">
                    <div class="thumbnail equalheight"><a class="subCategoryThumb" ng-click="vm.filterSelect = 'bouquets'"><img
                            src="images/category/bouquet.jpg" class="img-rounded " alt="img"> </a> <a
                            class="subCategoryTitle"><span> Bouquets </span></a></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center">
                    <div class="thumbnail equalheight"><a class="subCategoryThumb" ng-click="vm.filterSelect = 'candles'"><img
                            src="images/category/candles.jpg" class="img-rounded  " alt="img"> </a> <a
                            class="subCategoryTitle"><span> Candles </span></a></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center">
                    <div class="thumbnail equalheight"><a class="subCategoryThumb" ng-click="vm.filterSelect = 'leather'"><img
                            src="images/category/leather.jpg" class="img-rounded " alt="img"> </a> <a
                            class="subCategoryTitle"><span> Leather </span></a></div>
                </div>
            </div>
            <!--/.subCategoryList-->

            <div class="w100 productFilter clearfix">
                <p class="pull-left"> Showing <strong>{{filtered.length}}</strong> product(s)
                    <span ng-show="vm.filterSelect">in <strong>{{vm.filterSelect}}</strong></span></p>

                <div class="pull-right ">
                    <div class="change-order pull-right">
                        <select class="form-control" ng-model="orderList">
                            <option value="">------- sort by -------</option>
                            <option value="name">Item Name : A to Z</option>
                            <option value="category">Item Category : A to Z</option>
                            <option value="price">Price : Low to High</option>
                            <option value="-price">Price : High to Low</option>
                        </select>
                    </div>
                    <div class="change-view pull-right"><a ng-click="vm.view = 'grid'" title="Grid" class="grid-view"> <i
                            class="fa fa-th-large"></i> </a> <a ng-click="vm.view = 'list'" title="List" class="list-view "><i
                            class="fa fa-th-list"></i></a></div>
                </div>
            </div>
            <!--/.productFilter-->


            <div ng-show="vm.view === 'grid'" class="row  categoryProduct xsResponse clearfix">
                <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6"  ng-repeat="item in filtered = (vm.items | filter: {subcategory : vm.filterSelect} | orderBy: orderList)">
                    <div class="product">
                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                           data-placement="left">
                            <i class="glyphicon glyphicon-heart"></i>
                        </a>

                        <div class="image">
                            <div class="quickview">
                                <button class="btn btn-xs btn-quickview" ng-click="vm.qvModal(item)">Details</button>
                            </div>
                            <a ng-click="vm.qvModal(item)"><img ng-src="images/thumbnails/{{item.image}}" alt="img"
                                                                class="img-responsive"></a>

                            <div class="promotion">
                                <span ng-show="item.new" class="new-product"> NEW </span>
                                <span ng-show="item.new" class="discount">{{item.discount}}% OFF</span>
                            </div>
                        </div>
                        <div class="description">
                            <h4><a ng-click="vm.qvModal(item)">{{item.name}}</a></h4>

                            <p>{{item.summary}} </p>
                        </div>
                        <div class="price"><span>{{item.price | currency}}</span> <span class="old-price">{{item.price * (1+item.discount/100)| currency}}</span></div>
                        <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                                class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a></div>
                    </div>
                </div>
            </div>
            <!--/.categoryProduct || product content end-->

        <div ng-show="vm.view === 'list'"class="width50 row  categoryProduct xsResponse clearfix">
            <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6 list-view" ng-repeat="item in filtered = (vm.items | filter: {subcategory : vm.filterSelect} | orderBy: orderList)">

                <div class=" product">
                    <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                       data-placement="left">
                        <i class="glyphicon glyphicon-heart"></i>
                    </a>
                    <div class="image">
                        <div class="quickview">
                            <button class="btn btn-xs btn-quickview" ng-click="vm.qvModal(item)">Details</button>
                        </div>
                        <a ng-click="vm.qvModal(item)"><img ng-src="images/thumbnails/{{item.image}}" alt="img"
                                                            class="img-responsive"></a>

                        <div class="promotion">
                            <span ng-show="item.new" class="new-product"> NEW </span>
                            <span ng-show="item.new" class="discount">{{item.discount}}% OFF</span>
                        </div>
                    </div>
                    <div class="description">
                        <h4><a ng-click="vm.qvModal(item)">{{item.name}}</a></h4>
                        <p>{{item.description}} </p>
                        <p>{{item.summary}} </p>
                    </div>
                    <div class="price"><span>{{item.price | currency}}</span> <span class="old-price">{{item.price * (1+item.discount/100)| currency}}</span></div>
                    <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                            class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a></div>
                </div>
            </div>

           <!-- <div class="w100 categoryFooter">
                <div class="pagination pull-left no-margin-top">
                    <ul class="pagination no-margin-top">
                        <li><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
                <div class="pull-right pull-right col-sm-4 col-xs-12 no-padding text-right text-left-xs">
                    <p>Showing 1–450 of 12 results</p>
                </div>
            </div>-->
            <!--/.categoryFooter-->
        <!--/right column end-->
    </div>
    <!-- /.row  -->
</div>
<!-- /main container -->
