<!-- Modal without ajax -->

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">
                <div class="main-image  col-lg-12 no-padding style3">
                    <a class="product-largeimg-link" ng-href="images/thumbnails/{{vm.item.image}}"><img
                            ng-src="images/thumbnails/{{vm.item.image}}"
                            class="img-responsive product-largeimg"
                            alt="img">
                    </a>
                </div>
                <!--/.main-image-->

<!--
                <div class="modal-product-thumb">
                    <a class="thumbLink selected"><img data-large="images/thumbnails/{{vm.item.image}}" alt="img"
                                                       class="img-responsive"
                                                       src="images/thumbnails/{{vm.item.image}}">
                    </a>
                    <a ng-repeat="img in vm.item.images" class="thumbLink"><img data-large="images/originals/{{img}}" alt="img"
                                                       class="img-responsive"
                                                       ng-src="images/originals/{{img}}">
                    </a>


                </div>
                &lt;!&ndash;/.modal-product-thumb&ndash;&gt;-->
            </div>
            <!--/ product Image-->


            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 modal-details no-padding">
                <div class="modal-details-inner">
                    <h2 class="product-title">{{vm.item.name}}</h2>

                    <h3 class="product-code">Product Code : {{vm.item.sku}}</h3>

                    <div class="rating">
                        <p>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o "></i></span>
                            <span class="ratingInfo"> <span> / </span>
                            <a data-toggle="modal" data-target="#modal-review"> Write a review</a> </span>
                        </p>
                    </div>

                    <div class="product-price"><span class="price-sales"> {{vm.item.price | currency}}</span> <span
                            class="price-standard">{{vm.item.price *1.3 | currency}}</span></div>
                    <div class="details-description">
                        <p>{{vm.item.summary}}</p>

                        <p>{{vm.item.description}} </p>
                    </div>
                    <div class="product-tab">

                        <ul class="nav nav-tabs">
                            <li class="active"><a ng-click="vm.tab = 'details'" data-toggle="tab">Details</a></li>
                            <li><a ng-click="vm.tab = 'size'" data-toggle="tab">Size</a></li>
                            <li><a ng-click="vm.tab = 'shipping'" data-toggle="tab">Shipping</a></li>
                        </ul>

                        <!-- Tab panes -->

                            <div ng-show="vm.tab === 'details'" class="tab-pane">
                                <p ng-repeat="detail in vm.item.details">{{detail}}</p>
                            </div>
                            <div ng-show="vm.tab === 'size'" class="tab-pane">
                                {{vm.item.size}}<br>
                                *All measurements are in inches
                            </div>

                            <div ng-show="vm.tab === 'shipping'" class="tab-pane">
                                <table>
                                    <colgroup>
                                        <col style="width:25%">
                                        <col style="width:25%">
                                        <col style="width:5%">
                                        <col style="width:25%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>Standard</td>
                                        <td>3-5 business days</td>
                                        <td></td>
                                        <td>   $7.95</td>
                                    </tr>
                                    <tr>
                                        <td>Two Day</td>
                                        <td>2 business days</td>
                                        <td></td>
                                        <td>   $15</td>
                                    </tr>
                                    <tr>
                                        <td>Next Day</td>
                                        <td>1 business day</td>
                                        <td></td>
                                        <td>   $30</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="3">* Free on orders of $150 or more</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>


                    </div>

               <!--     <div class="productFilter productFilterLook2">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="filterBox">
                                    <select class="form-control">
                                        <option value="0" selected>Quantity</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; productFilter &ndash;&gt;-->

                    <div class="cart-actions">
                        <div class="addto row">
                            <div class="col-lg-6">
                                <button onclick="productAddToCartForm.submit(this);"
                                        class="button btn-block btn-cart cart first" title="Add to Cart"
                                        type="button">
                                    Add to Cart
                                </button>
                            </div>
                            <div class="col-lg-6"><a class="link-wishlist wishlist btn-block ">Add to Wishlist</a>
                            </div>
                        </div>
                    </div>
                    <!--/.cart-actions-->
                    <div style="clear:both"></div>

                    <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> In stock</h3>

                    <h3 style="display:none" class="incaps"><i class="fa fa-minus-circle color-out"></i> Out of stock
                    </h3>

                    <h3 class="incaps"><i class="glyphicon glyphicon-lock"></i> Secure online ordering</h3>
                </div>
                <!--/.cart-actions-->

                <div class="clear"></div>



                    <div class="product-share clearfix">
                        <p> SHARE </p>

                        <div class="socialIcon">
                            <a href="#"> <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#"> <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#"> <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#"> <i class="fa fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                    <!--/.product-share-->
                </div>
                <!--/.modal-details-inner-->
            </div>
            <!--/.modal-details-->
            <div class="clear"></div>
        </div>
        <!--/.modal-content-->
    </div>
    <!--/.modal-content-->
<script src="assets/js/script.js"></script>
